/* style chama */

* {
    font-family: 'Cairo', 'Roboto', 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navbar {
    background-image: url(pics/bacterie.svg);
}

.container-fluid ul li a {
    text-decoration: none;
}

#info {
    background-color: #F4CF1B;
    padding: 1% 10%;
}

.start {
    display: flex;
    justify-content: center;
    margin: 25px 0;
}

.text-covid {
    color: #1078AD;
}

.border-covid {
    border-color: #1078AD;
}

.start button {
    background-color: #cae6f3;
    border-width: 2px;
    border-color: #1078AD;
    border-style: solid;
    border-radius: 10px;
    width: 520px;
    height: 8vh;
}


/* style chama ends */


/* style karima survey first section */

.one {
    background-color: #96C5DC;
    box-shadow: 0px 0px 3px black;
    border-radius: 15px;
    padding: 50px 25px;
}

.form-signin {
    max-width: 90%;
    margin: auto;
}

.cercle {
    width: 25px;
    height: 25px;
    border-radius: 25px;
    background-color: #F4CF1B;
}

.img {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.langue {
    margin-right: 20px;
}

#ul li {
    list-style: none;
    margin-right: 30px;
}

#ul li a {
    text-decoration: none;
}


/* style karima survey first section ends */